footer
  address 2201 P St NW, Washington, DC 20037 
  p Contact
  div(id='footer_flex' class='flex flex--wide flex--valign_center')
    i(class="fa fa-facebook-official", aria-hidden="true")
    p &copy; Austin Chang 2017
    ul
      li Terms of Use
      li Privacy Policy
      li Sitemap
