//- var hero_image_url = 'images/6cover.png';
//- var hero_image_url = 'images/1trim.jpg';

div(class='hero') 
  picture
    source(srcset='images/1trim.jpg' media='(max-width: 599px)')
    source(srcset='images/6cover.png' media='(min-width: 600px)')
    img(src='images/RedApple.jpg' alt='people dancing')
  h1 CitySwing DC
  h2 DC's not-so-traditional Friday night Lindy hop and blues destination.
