nav
  div(class='nav__header')
    h1: a(href = index) CitySwing DC
    i(class="fa fa-bars" aria-hidden="true")
  div(class='nav__menu' data-display='hidden')
    ul
      li: a(href = schedule) Schedule
      li: a(href = location) Location
      li: a(href = music_and_venue) Music &amp; Venue
      li: a(href = staff) Staff
      li: a(href = code_of_conduct) Code of Conduct
      li: a(href = faq) FAQ
div(class='nav_flow_block')
