extends layout
block content
  include includes/hero
  div(id='index_flex' class='flex flex--narrow')
    div(class='flex__item')
      h1 Local
      p DC's only in-town Friday night swing dance.
    div(class='flex__item')
      h1 Friendly
      p Free beginner lesson before every dance!
    div(class='flex__item')
      h1 Big
      p Our large floor ensures you always have room to move.
    div(class='flex__item')
      h1 Eclectic
      p Our Lindy hop music playlist has the most variety in the area.
    div(class='flex__item')
      h1 Diverse
      p Our regular crowd includes people of all ages and skill levels.  
    div(class='flex__item')
      h1 Delicious
      p We have apple pie at (almost) every dance.  
