doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CitySwing DC
    script(src="https://use.fontawesome.com/168367c54f.js")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    nav
      div(class='nav__header')
        h1 CitySwing DC
        i(class="fa fa-bars" aria-hidden="true")
      div(class='nav__menu nav__menu--hidden')
        ul
          li Schedule
          li Location
          li Music &amp; Venue
          li Staff
          li Code of Conduct
          li FAQ
    block content
    footer
      address 2201 P St NW, Washington, DC 20037 
      p Contact
      p &copy; Austin Chang 2017
      i(class="fa fa-facebook-official", aria-hidden="true")
      ul
        li Terms of Use
        li Privacy Policy
        li Sitemap
    script(src='all.js') 
