doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CitySwing DC
    script(src="https://use.fontawesome.com/168367c54f.js")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    include includes/nav
    block content
    include includes/footer
    script(src='javascripts/all.js') 
