doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
      |CitySwing DC
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(src='/javascripts/slideshow.js')
    script(src='/javascripts/execute.js')
  footer
    address
      | 2201 P St NW, Washington, DC 20037 
    p
      | Contact
    p
      | &copy; Austin Chang 2017
    i(class="fa fa-facebook-official", aria-hidden="true")
    ul
      li
        | Terms of Use
      li
        | Privacy Policy
      li
        | Sitemap
