extends layout

block content
  - var images = ['cat.jpg', 'download.png', 'entrance_desktop.png', 'entrance_mobile.png', 'RedApple.jpg'];

  div(class='slideshow')
    div(class='slideshow__content')
      each val, index in images
        if index === 0
          div(class='slideshow__item slideshow__item--active')
            img(src='images/' + val)
        else
          div(class='slideshow__item')
            img(src='images/' + val)
    div(class='slideshow__buttons')
      each val, index in images
        if index === 0
          button(class='slideshow__button slideshow__button--active') 
            | #{ index + 1 }
        else
          button(class='slideshow__button')
            | #{ index + 1 }
  script(src='/javascripts/slideshow.js')
  script(src='/javascripts/execute.js')
