extends layout
block content
  h1 Admission
  ul
    li $10 per person
    li $5 with valid student ID, teacher ID, or active military ID
  h1 Timeline
  ul
    li Free beginnner swing lesson 8:30pm-9pm
    li DJ dance 9-11:30pm
  h1 Dates
  ul
    li See calendar and announcements below for the most up-to-date information
    li Dances are almost always on the 2nd and 4th Friday of each month
  h1 Events and Annoucements
  p See our <a href="https://www.facebook.com/groups/472901119585727/">Facebook group</a> for all events and announcements!
  section(class='fb_feed')
    h1 Events
    h1 Announcements
    div(class='fb_feed__content')
  //script(src='/javascripts/fb.js')
