$link_color: black;

a:link {
  color: $link_color;
  text-decoration: none;
}

a:visited {
  color: $link_color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
